GOOGLE_API_KEY=your_google_api_key_here
GEMINI_MODEL_NAME=gemini-2.5-flash-lite
MCP_URL=mcp_url_here

WHATSAPP_TOKEN=your_whatsapp_permanent_access_token_here
WHATSAPP_PHONE_NUMBER_ID=your_whatsapp_phone_number_id_here
WHATSAPP_VERIFY_TOKEN=your_webhook_verify_token_here
DATABASE_URL=postgresql://user:password@host:5432/database_name